<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>title</label>
    <input th.value="${dto}" readonly />

    <label>content</label>
    <textarea readonly>
        [[${dto}]]
    </textarea>

    <button th:onclick="|location.href='@{/list}'|">목록</button>
    <button th:onclick="|location.href='@{/edit/{boardId}(boardId=${dto.id})}'|">수정</button>
    <button th:onclick="|location.href='@{/remove/{boardId}(boardId=${dto.id})}'|">삭제</button>
</body>
</html>
