<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>title</label>
    <input th:value="${dto.title}" readonly />

    <label>content</label>
    <textarea readonly>
        [[${dto.content}]]
    </textarea>

    <form id="removeForm" th:method="post" th:action="@{/remove/{boardId}(boardId=${dto.id})}"></form>

    <button th:onclick="|location.href='@{/list}'|">목록</button>
    <button th:onclick="|location.href='@{/edit/{boardId}(boardId=${dto.id})}'|">수정</button>
    <button id="removeButton">삭제</button>

    <script>
        document.querySelector("#removeButton").addEventListener("click",()=>{
            document.querySelector("#removeForm").submit();
        });
    </script>
</body>
</html>
